body{
    background-color: rgb(255, 255, 255);
}







#navBar{
    background-color: rgb(0, 0, 0);
    border-radius: 50px;
}

#navBar a {
    padding: 20px;
    margin-right:20px ;
    color: white;
}

#navBar a:hover {
    color: aqua;
}